<video autoplay muted loop playsInline id="background-select">
    <source src="assets/background/roster_bg_loop.webm" type="video/webm"  autoplay>
</video>

<div class="select-character-container">
    @if (allHeroes.length > 0) {
        @for (heroe of allHeroes; track heroe.id) { 
        <div class="character-card" (click)="showHeroDetails(heroe, $event)">
            <div class="heroe-image" 
                [style.background-image]="heroe?.images?.icon_hero_card_webp ? 'url(' + heroe.images.icon_hero_card_webp + ')' : 'none'">
                <p style="color: white;">{{ heroe.name }}</p>
            </div>
        </div>
        }
    } @else {
        <p>Cargando héroes...</p>
    }
</div>

@if (heroeSelected) {
    <div class="container-3d" [style.background-image]="'url(' + heroeSelected.images?.background_image_webp + ')'">
        <model-viewer class="model" 
            autoplay        
            [attr.src]="'/assets/heroes/models/' + heroeSelected.name + '.glb'" 
            ar touch-action="pan-y" 
            shadow-intensity="1"
            [attr.camera-target]="getHeroConfig(heroeSelected.name, 'target')"
            [attr.camera-orbit]="getHeroConfig(heroeSelected.name, 'orbit')"
            [attr.field-of-view]="getHeroConfig(heroeSelected.name, 'fov')"
            interpolation-decay="200"
            >
        </model-viewer>
    </div>
    <div class="hero-name">
        <h1>{{heroeSelected.name}}</h1>
    </div>
    <div class="hero-tags">
        @for (tag of heroeSelected.tags; track $index) {
            <div class="tag" [style.--tag-bg]="'rgb(' + heroeSelected.colors.ui.join(',') + ')'">
                <span>{{tag}}</span>
            </div>
        }
    </div>
    <app-hero-habilities class="hero-habilities-component" [heroe]="heroeSelected" [heroeColor]="heroeSelected.colors.ui.join(',')"></app-hero-habilities>
}