.main-content{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
.select-character-container {
    width: 34%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 1%;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.character-card {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 3 / 4;
    background-color: #1a1a1a;
    border: 1px solid #333;
}

.heroe-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.character-card::before {
    content: '';
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(255, 255, 255, 0.3));
    transition: all 0.5s ease;
    opacity: 0;
}


.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.character-card:hover::before {
    opacity: 1;
    transform: translateY(5%);
}
#background-select{
    position: fixed;    
    top: 0;
    left: 0;
    width: 100vw;      
    height: 100vh;      
    object-fit: cover;  
    z-index: -1;
}

.container-3d{
   
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
        object-fit: cover;  
    z-index: -1;
            position: fixed;    
    top: 0;
    left: 0;

}

.heroes_container{
    position: absolute;
    width: 97vw;       
    height: 97vh;  
    display: flex;
    justify-content: center;

}
.model{
    width: 100%;
    height: 100%;
}

.hero-tags{
    /* border: red solid 1px; */
    position: absolute;
    top: 80%;
    left: 65%;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    height: auto;
    gap: 10px;
}

.tag {
  position: relative;
  padding: 5px;
  height: 50%;
  width: min-content;
  text-align: center;
  color: white; 
  text-transform: uppercase;
  font-size: 30px;
}

.tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: -1;  
  animation: tag-animation 2s steps(1) infinite;
  background-color: var(--tag-bg, #000);
}

@keyframes tag-animation {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: rotate(2deg); }  
  50% { transform:  rotate(-2deg); } 
  75% { transform:  rotate(2deg); }   
  100% { transform:  rotate(0deg); }
}

.hero-habilities-component{
    position: absolute;
    top: 85%;
    left: 65%;
    width: 30%;
    height: auto;
}
.hero-name{
    position: absolute;
    top: 70%;
    left: 65%;
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
}