.theme-weapon {
    background-image: url('/assets/shop/weapon/shop_bg_weapon.png');
    --card-bg: rgba(255, 133, 51, 0.1);
    --tooltip-bg: url('/assets/shop/weapon/tooltip_bg_weapon.png');
    --header-bg: url('/assets/shop/weapon/tooltip_header_weapon.png');
    --bg-card-1: url(/assets/shop/weapon/card_weapon_1.png);
    --bg-card-2: url(/assets/shop/weapon/card_weapon_2.png);
    --bg-card-3: url(/assets/shop/weapon/card_weapon_3.png);
    --bg-card-4: url(/assets/shop/weapon/card_weapon_4.png);
    --t3-cols: 6 !important;
    --t4-cols: 5 !important;
    --t3w: 45% !important;
    --t4w: 39% !important;
}


.theme-vitality {
    background-image: url('/assets/shop/vitality/shop_bg_vitality.png');
    --card-bg: rgba(0, 200, 255, 0.1);
    --header-bg: url('/assets/shop/vitality/tooltip_header_vitality.png');
    --tooltip-bg: url('/assets/shop/vitality/tooltip_bg_vitality.png');
    --bg-card-1: url(/assets/shop/vitality/card_vitality_1.png);
    --bg-card-2: url(/assets/shop/vitality/card_vitality_2.png);
    --bg-card-3: url(/assets/shop/vitality/card_vitality_3.png);
    --bg-card-4: url(/assets/shop/vitality/card_vitality_4.png);

}

.theme-spirit {
    background-image: url('/assets/shop/spirit/shop_bg_spirit.png');
    --card-bg: rgba(0, 200, 255, 0.1);
    --header-bg: url('/assets/shop/spirit/tooltip_header_spirit.png');
    --tooltip-bg: url('/assets/shop/spirit/tooltip_bg_spirit.png');
    --bg-card-1: url(/assets/shop/spirit/card_spirit_1.png);
    --bg-card-2: url(/assets/shop/spirit/card_spirit_2.png);
    --bg-card-3: url(/assets/shop/spirit/card_spirit_3.png);
    --bg-card-4: url(/assets/shop/spirit/card_spirit_4.png);
    --t2h: 36% !important;
}

.main-category-wrapper {
    transition: all 10s ease;
}

.item-tier-1 {
    width: var(--t1w);
    height: 49%;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
    grid-template-columns: repeat(var(--t1-cols), 1fr);
}

.item-tier-2 {
    width: var(--t2w);
    height: var(--t2h);
    grid-template-columns: repeat(var(--t2-cols), 1fr);
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 4%;
}

.item-tier-3 {
    width: var(--t3w);
    height: 50%;
    grid-template-columns: repeat(var(--t3-cols), 1fr);
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-right: 2%;
}

.item-tier-4 {
    width: var(--t4w);
    height: 50%;
    grid-template-columns: repeat(var(--t4-cols), 1fr);
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.item-background-1 {
    background-image: var(--bg-card-1);
}

.item-background-2 {
    background-image: var(--bg-card-2);
}

.item-background-3 {
    background-image: var(--bg-card-3);
}

.item-background-4 {
    background-image: var(--bg-card-4);
}

.red {
    border: red solid 2px;
}


.card-image {
    background-image: var(--tooltip-bg);
}

.card-header-image {
    background-image: var(--header-bg);
}


.tier-container {
    gap: 2%;
    box-sizing: border-box;
    display: grid;
}

.shop {
    aspect-ratio: 1825 / 1618;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    --t1w: 39%;
    --t2w: 46%;
    --t3w: 39%;
    --t4w: 46%;
    --t2h: 50%;
    --t1-cols: 5;
    --t2-cols: 6;
    --t3-cols: 5;
    --t4-cols: 6;
}



.item-container::before {
    content: '';

    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(255, 255, 255, 0.3));
    transition: all 0.5s ease;
    opacity: 0;
}


.item-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.item-container:hover::before {
    opacity: 1;
    transform: translateY(5%);
}

.item-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0) 12px 11px 12px -10px;
    border-radius: 5px;
}

.item-background {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.item-image-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.item-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    border-radius: 2px;

    margin-bottom: 6%;
}

.item-title {
    color: black;
    font-weight: bold;
    display: block !important;
    width: 100% !important;
    white-space: normal !important;
    word-break: keep-all !important;
    overflow-wrap: normal !important;
    hyphens: none !important;
    line-height: 1.1;
    text-align: center;
    overflow: hidden;
}