<div class="shop vitality">
    <!-- tier 1 -->
    <div class="item-tier-1 tier-container">
        @if (isLoading[1]) {
        <p>Cargando items...</p>
        } @else if (!tierItemsMap[1]) {
        <p>Inicializando...</p>
        } @else if (tierItemsMap[1].length === 0) {
        <p>No hay items disponibles</p>
        } @else {
        @for (item of tierItemsMap[1]; track item.id) {
        <div class="item-container" (mouseenter)="showItemInfo(item, $event)" (mouseleave)="hideItemInfo()">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image" [style.background-image]="'url(' + item.shop_image_small + ')'"></div>
                <span class="item-title">{{item.name}}</span>
            </div>
        </div>
        }
        }
    </div>
    <!-- tier 2 -->

    <div class="item-tier-2 tier-container">

        @if (isLoading[2]) {
        <p>Cargando items...</p>
        } @else if (!tierItemsMap[2]) {
        <p>Inicializando...</p>
        } @else if (tierItemsMap[2].length === 0) {
        <p>No hay items disponibles</p>
        } @else {
        @for (item of tierItemsMap[2]; track item.id) {
        <div class="item-container" (mouseenter)="showItemInfo(item, $event)" (mouseleave)="hideItemInfo()">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image" [style.background-image]="'url(' + item.shop_image_small + ')'"></div>
                <span class="item-title">{{item.name}}</span>
            </div>
        </div>
        }
        }

    </div>
    <!-- tier 3 -->
    <div class="item-tier-3 tier-container">

        @if (isLoading[3]) {
        <p>Cargando items...</p>
        } @else if (!tierItemsMap[3]) {
        <p>Inicializando...</p>
        } @else if (tierItemsMap[3].length === 0) {
        <p>No hay items disponibles</p>
        } @else {
        @for (item of tierItemsMap[3]; track item.id) {
        <div class="item-container" (mouseenter)="showItemInfo(item, $event)" (mouseleave)="hideItemInfo()">
            <div class="item-background item-background-3"></div>
            <div class="paper-texture texture-3"></div>
            <div class="paper-wear wear-3"></div>
            <div class="item-image-container">
                <div class="item-image" [style.background-image]="'url(' + item.shop_image_small + ')'"></div>
                <div class="item-title">
                    {{item.name}}
                </div>
                <!-- <span class="item-title">{{item.name}}</span> -->
            </div>
        </div>
        }
        }

    </div>
    <!-- tier 4 -->

    <div class="item-tier-4 tier-container">

        @if (isLoading[4]) {
        <p>Cargando items...</p>
        } @else if (!tierItemsMap[4]) {
        <p>Inicializando...</p>
        } @else if (tierItemsMap[4].length === 0) {
        <p>No hay items disponibles</p>
        } @else {
        @for (item of tierItemsMap[4]; track item.id) {
        <div class="item-container" (mouseenter)="showItemInfo(item, $event)" (mouseleave)="hideItemInfo()">
            <div class="item-background item-background-4"></div>
            <div class="paper-texture texture-3"></div>
            <div class="paper-wear wear-4"></div>
            <div class="item-image-container">
                <div class="item-image" [style.background-image]="'url(' + item.shop_image_small + ')'"></div>
                <span class="item-title" style="color: white;">{{item.name}}</span>
            </div>
        </div>
        }
        }

    </div>

        @if (hoveredItem) {
    <div class="item-card-tooltip  card-image"  [style.left.px]="cardPosition.x" [style.top.px]="cardPosition.y">
        <div class="card-header card-header-image">
            <h3>{{hoveredItem.name}}</h3>
            <span class="item-price"> <img src="/assets/shop/icon_soul.svg" alt="" style="width: 3%;">
                {{hoveredItem.cost}}</span>
                <!-- <span>{{hoveredItem.activation==='passive'}}</span> -->
        </div>
        <div class="card-stats">
            @for (section of tooltipSections ; track section.section_type) {
                @if(section.section_type === 'innate') {
                    @let section_attributes1 = section.section_attributes[0];
                    
                    @let allProps = (section_attributes1.elevated_properties || []).concat(section_attributes1.properties || []);       

                    @for (propName of allProps; track $index) {
                        @let propData = hoveredItem.properties[propName];
                        
                        @if (propData) {
                            @let showPlus = propData.value > 0 ? '+' : '';
                            <div style="padding: 2%;">
                                <p style="color: rgb(215, 215, 215);"> 
                                    <span class="highlight">{{showPlus}}{{propData.value}}</span>
                                    {{propData.label}}
                                </p>
                            </div>
                        }
                    }
                }
                
                @if ( section.section_type === 'passive' ) {
                    <div class="passive_container">
                        <div class="passive">
                                <div class="passive-title">Passive</div>
                                @if (hoveredItem.properties.AbilityCooldown.value > 0) {
                                    <div class="abilityCooldown">

                                        <p>{{hoveredItem.properties.AbilityCooldown.value}}
                                            <span>{{hoveredItem.properties.AbilityCooldown.postfix}}</span>
                                        </p>
                                        <img [src]="hoveredItem.properties.AbilityCooldown.icon"
                                            [alt]="hoveredItem.properties.AbilityCooldown.label" class="cooldownIcon">
                                    </div> 
                                }
                        </div>

                        <div style="padding: 2%;">
                            @for (attr of section.section_attributes; track $index) {
                                @if (attr.loc_string) {
                                    <p class="passive_description" [innerHTML]="attr.loc_string"></p>
                                }

                                <div style="width: 100%; box-sizing: border-box; display: flex; flex-direction: row; gap: 2px;">
                                    @if (attr.important_properties) {
                                    @let importantProps = attr.important_properties;
                                    <!-- <div style="display: flex; justify-content: center; flex-direction: row; gap: 3px; margin-top: 5px;"> -->
                                        @if(importantProps[$index]!="AbilityCooldown") {

                                            @for (impPropName of importantProps; track $index) {
                                                @let impPropData = hoveredItem.properties[impPropName];
                                                        
                                                    @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                    <div class="sectionPassive">
                                                        <p class="highlight" style="color: rgb(215, 215, 215);"> 
                                                            {{showPlusImp}}{{impPropData.value}}
                                                        </p>
                                                        <p style="color: rgb(215, 215, 215); text-align: center;"> 
                                                            {{impPropData.label}}
                                                        </p>
                                                    </div>
                                            }
                                        }
                                        <!-- </div> -->
                                    }
                                </div>               

                                @if (attr.properties) {
                                    @let props = attr.properties;
                                    @if(props[$index]!="AbilityCooldown" && props.length>0) {
                                    <!-- <div style="display: flex; justify-content: center; flex-direction: row; gap: 3px; margin-top: 5px;"> -->
                                        <div class="sectionPassive" style="width: 100%; margin-top: 5px;flex-direction: row; flex-wrap: wrap; margin-bottom: 5px; padding: 5px;align-items: flex-start;">
                                            @for (impPropName of props; track $index) {
                                                @let impPropData = hoveredItem.properties[impPropName];
                                                @if (impPropData && impPropData.label!="Cooldown") {
                                                    @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                    <p  style="color: rgb(215, 215, 215); width: max-content;  margin-left: 10px;margin-top: 5px; box-sizing: border-box;"> 
                                                        <span class="highlight">{{showPlusImp}}{{impPropData.value}}</span> {{impPropData.label}}
                                                    </p>
                                                }
                                            }
                                        </div>
                                    }
                                }                 
                            }
                        </div>
                    </div>

                }@else if (!(section.section_type==='innate') && !(section.section_type==='passive') && !(section.section_type==='active') &&
                 section.section_attributes.length > 0) {
                    <div class="passive_container">
                        <div class="passive">
                                <div class="passive-title">Passive</div>
                                @if (hoveredItem.properties.AbilityCooldown.value > 0) {
                                    <div class="abilityCooldown">

                                        <p>{{hoveredItem.properties.AbilityCooldown.value}}
                                            <span>{{hoveredItem.properties.AbilityCooldown.postfix}}</span>
                                        </p>
                                        <img [src]="hoveredItem.properties.AbilityCooldown.icon"
                                            [alt]="hoveredItem.properties.AbilityCooldown.label" class="cooldownIcon">
                                    </div> 
                                }
                        </div>

                        <div style="padding: 2%;">
                            @for (attr of section.section_attributes; track $index) {
                                @if (attr.loc_string) {
                                    <p class="passive_description" [innerHTML]="attr.loc_string"></p>
                                }

                                <div style="width: 100%; box-sizing: border-box; display: flex; flex-direction: row; gap: 2px;">
                                    @if (attr.important_properties) {
                                    @let importantProps = attr.important_properties;
                                    <!-- <div style="display: flex; justify-content: center; flex-direction: row; gap: 3px; margin-top: 5px;"> -->
                                        @if(importantProps[$index]!="AbilityCooldown") {

                                            @for (impPropName of importantProps; track $index) {
                                                @let impPropData = hoveredItem.properties[impPropName];
                                                        
                                                    @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                    <div class="sectionPassive">
                                                        <p class="highlight" style="color: rgb(215, 215, 215);"> 
                                                            {{showPlusImp}}{{impPropData.value}}
                                                        </p>
                                                        <p style="color: rgb(215, 215, 215); text-align: center;"> 
                                                            {{impPropData.label}}
                                                        </p>
                                                    </div>
                                            }
                                        }
                                        <!-- </div> -->
                                    }
                                </div>               

                                @if (attr.properties) {
                                    @let props = attr.properties;
                                    @if(props[$index]!="AbilityCooldown" && props.length>0) {
                                    <!-- <div style="display: flex; justify-content: center; flex-direction: row; gap: 3px; margin-top: 5px;"> -->
                                        <div class="sectionPassive" style="width: 100%; margin-top: 5px;flex-direction: row; flex-wrap: wrap; margin-bottom: 5px; padding: 5px;align-items: flex-start;">
                                            @for (impPropName of props; track $index) {
                                                @let impPropData = hoveredItem.properties[impPropName];
                                                @if (impPropData && impPropData.label!="Cooldown") {
                                                    @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                    <p  style="color: rgb(215, 215, 215); width: max-content;  margin-left: 10px;margin-top: 5px; box-sizing: border-box;"> 
                                                        <span class="highlight">{{showPlusImp}}{{impPropData.value}}</span> {{impPropData.label}}
                                                    </p>
                                                }
                                            }
                                        </div>
                                    }
                                }                 
                            }
                        </div>
                    </div>

                }

                @if ( section.section_type === 'active' ) {
                        <div class="active_container">
                            <div class="passive">
                                    <div class="passive-title">Active</div>
                                    @if (hoveredItem.properties.AbilityCooldown.value > 0) {
                                        <div class="abilityCooldown">

                                            <p>{{hoveredItem.properties.AbilityCooldown.value}}
                                                <span>{{hoveredItem.properties.AbilityCooldown.postfix}}</span>
                                            </p>
                                            <img [src]="hoveredItem.properties.AbilityCooldown.icon"
                                                [alt]="hoveredItem.properties.AbilityCooldown.label" class="cooldownIcon">
                                        </div> 
                                    }
                            </div>
                             <div style="padding: 2%;">
                                @for (attr of section.section_attributes; track $index) {
                                    @if (attr.loc_string) {
                                        <p class="passive_description" [innerHTML]="attr.loc_string"></p>
                                    }

                                    <div style="width: 100%;height: max-content; box-sizing: border-box; display: flex; flex-direction: row; gap: 2px;">
                                        @if (attr.important_properties) {
                                        @let importantProps = attr.important_properties;
                                        <!-- <div style="display: flex; justify-content: center; flex-direction: row; gap: 3px; margin-top: 5px;"> -->
                                            @for (impPropName of importantProps; track $index) {
                                                    @let impPropData = hoveredItem.properties[impPropName];
                                                    @if (impPropData) {
                                                    @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                    <div class="sectionPassive">
                                                        <p class="highlight" style="color: rgb(215, 215, 215);"> 
                                                            {{showPlusImp}}{{impPropData.value}}
                                                        </p>
                                                        <p style="color: rgb(215, 215, 215); text-align: center;"> 
                                                            {{impPropData.label}}
                                                        </p>
                                                    </div>
                                                }
                                            }
                                        <!-- </div> -->
                                        }
                                    </div>               

                                    @if (attr.properties) {
                                        @let props = attr.properties;
                                        @if(props[0]!="AbilityCooldown") {
                                            <div class="sectionPassive" style="width: 100%; margin-top: 5px;flex-direction: row; flex-wrap: wrap; margin-bottom: 5px; padding: 5px;align-items: flex-start;">
                                                @for (impPropName of props; track $index) {
                                                    @let impPropData = hoveredItem.properties[impPropName];
                                                    @if (impPropData && impPropData.label!="Cooldown") {
                                                        @let showPlusImp = impPropData.value > 0 ? '+' : '';
                                                        <p  style="color: rgb(215, 215, 215); width: max-content;  margin-left: 10px;margin-top: 5px; box-sizing: border-box;"> 
                                                                <span class="highlight">{{showPlusImp}}{{impPropData.value}}</span> {{impPropData.label}}
                                                        </p>
                                                    }
                                                }
                                            </div>
                                        }
                                            <!-- </div> -->
                                    }                 

                                }
                            </div>                            
                        </div>
                }
                


            }

            @if(upgradeToItems.length > 0) {
                <div class="upgrade">
                    <p style="color: white; font-weight: bold; margin-bottom: 10px;">Upgrades to:</p>
                    <div style=" display: flex; flex-direction: row;width: 100%; grid-template-columns: repeat(2, 1fr);">
                        @for (item of upgradeToItems; track $index) {
                            <div style="display: flex; flex-direction: row; align-items: center; width: 100%; gap: 5px; height: auto;">
                                <div class="upgrade-image">
                                    <img style="width: 100%; height: 100%;" src="{{item.shop_image_small}}" alt="">
                                </div>
                                <p style="color: white; margin-bottom: 5px;  width: auto;">{{item.name}}</p>
                            </div>
                                
                        }
                    </div>
                </div>

            }
            
            @if(upgradeFromItems.length > 0) {
                <div class="upgrade">
                    <p style="color: white; font-weight: bold; margin-bottom: 10px;">Upgrades from:</p>
                    <div style=" display: flex; flex-direction: row;width: 100%; grid-template-columns: repeat(2, 1fr);">
                        @for (item of upgradeFromItems; track $index) {
                            <div style="display: flex; flex-direction: row; align-items: center; width: 100%; gap: 5px; height: auto;">
                                <div class="upgrade-image">
                                    <img style="width: 100%; height: 100%;" src="{{item.shop_image_small}}" alt="">
                                </div>
                                <p style="color: white; margin-bottom: 5px;  width: auto;">{{item.name}}</p>
                            </div>
                                
                        }
                    </div>
                </div>

            }
                
        </div>
    </div>
    }

</div>