.shop-gun {
    background-image: url(/assets/shop/gun/shop_bg_weapon.png);
    aspect-ratio: 1825 / 1618;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.tier-container {
    gap: 2%;
    box-sizing: border-box;
    display: grid;
}

.item-tier-1 {
    width: 46%;
    height: 49%;
    padding-top: 17%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
    grid-template-columns: repeat(5, 1fr);
}


.item-tier-2 {
    border: green solid 1px;
    width: 53%;
    height: 50%;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 6%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 4%;
}

.item-tier-3 {

    border: white solid 1px;
    width: 53%;
    height: 50%;

}


.item-tier-4 {
    border: blue solid 1px;
    width: 46%;
    height: 49%;
}

.item-container::before {
    content: '';
    position: absolute;
    top: -2%;
    left: -2%;
    width: 105%;
    height: 105%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(255, 255, 255, 0.3));
    transform: rotate(-15deg);
    transition: all 0.5s ease;
    opacity: 0;

}

.item-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease;
}

.item-container:hover::before {
    opacity: 1;
    transform: rotate(-15deg) translateY(5%);
}

.item-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item-background {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.item-background-1 {
    background-image: url(/assets/shop/gun/card_weapon_1.png);
}

.item-background-2 {
    background-image: url(/assets/shop/gun/card_weapon_2.png);
}

.item-background-3 {
    background-image: url(/assets/shop/gun/card_weapon_3.png);
}

/* .item-background-4 {
    background-image: url(/assets/shop/gun/card_weapon_4.png);
} */

.paper-texture {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 100;
    z-index: 1;
    position: absolute;
    /* opacity: 30%; */
    z-index: 1;
    width: 100%;
    height: 100%;
}

.texture-1 {
    background-image: url(/assets/shop/gun/shopitem_papertexture01.png);

}

.texture-2 {
    background-image: url(/assets/shop/gun/shopitem_papertexture02.png);

}

.paper-wear {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 30%;
    z-index: 1;
    opacity: 40%;
}

.wear-1 {
    background-image: url(/assets/shop/gun/shopitem_paperwear01.png);
}

.wear-2 {
    background-image: url(/assets/shop/gun/shopitem_paperwear02.png);
}

.item-image-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin-top: 5%;
}

.item-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    border-radius: 5px;
}

.item-title {
    height: 40%;
    font-size: smaller;
    text-align: center;
    color: black !important;
    padding: 1px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    border: red solid 2px;
}