<div class="shop-gun">
    <div class="item-tier-1">
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
        </div>

    </div>
    <div class="item-tier-2">

    </div>

    <div class="item-tier-3">

    </div>


    <div class="item-tier-4">

    </div>
    
</div>