<div class="shop-gun">
    <div class="item-tier-1 tier-container">
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/close_quarters_sm.webp)">
                </div>
                <span class="item-title">Close Quarters</span>
            </div>


        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/basic_magazine_sm.webp)">
                </div>
                <span class="item-title">Extended Magazine</span>
            </div>

        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/headshot_booster_sm.webp)">
                </div>
                <span class="item-title">Headshot Booster</span>
            </div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/high_velocity_rounds_sm.webp)">
                </div>
                <span class="item-title">High-Velocity Rounds</span>
            </div>
        </div>
        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/monster_rounds_sm.webp)">
                </div>
                <span class="item-title">Monster Rounds</span>
            </div>
        </div>

        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/rapid_rounds_sm.webp)">
                </div>
                <span class="item-title">Rapid Rounds</span>
            </div>
        </div>

        <div class="item-container-1">
            <div class="item-background-1"></div>
            <div class="paper-texture"></div>
            <div class="paper-wear"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/restorative_shot_sm.webp)">
                </div>
                <div class="item-title">Restorative Shot</div>
            </div>
        </div>


    </div>
    <div class="item-tier-2">

    </div>

    <div class="item-tier-3">

    </div>


    <div class="item-tier-4">

    </div>

</div>