<div class="shop-gun">
    <div class="item-tier-1 tier-container">
        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/close_quarters_sm.webp)">
                </div>
                <span class="item-title">Close Quarters</span>
            </div>


        </div>
        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/basic_magazine_sm.webp)">
                </div>
                <span class="item-title">Extended Magazine</span>
            </div>

        </div>
        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/headshot_booster_sm.webp)">
                </div>
                <span class="item-title">Headshot Booster</span>
            </div>
        </div>
        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/high_velocity_rounds_sm.webp)">
                </div>
                <span class="item-title">High-Velocity Rounds</span>
            </div>
        </div>
        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/monster_rounds_sm.webp)">
                </div>
                <span class="item-title">Monster Rounds</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/rapid_rounds_sm.webp)">
                </div>
                <span class="item-title">Rapid Rounds</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-1"></div>
            <div class="paper-texture texture-1"></div>
            <div class="paper-wear wear-1"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/restorative_shot_sm.webp)">
                </div>
                <div class="item-title">Restorative Shot</div>
            </div>
        </div>


    </div>
    <div class="item-tier-2 tier-container">
        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/active_reload_sm.png)">
                </div>
                <span class="item-title">Active Reload</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/backstabber_sm.png)">
                </div>
                <span class="item-title">Backstabber</span>
            </div>
        </div>
        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/fleetfoot_sm.png)">
                </div>
                <span class="item-title">Fleetfoot</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/intensifying_magazine.png)">
                </div>
                <span class="item-title">Intensifying Magazine</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/kinetic_dash.png)">
                </div>
                <span class="item-title">Kinetic Dash</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/long_range.png)">
                </div>
                <span class="item-title">Long Range</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/melee_charge.png)">
                </div>
                <span class="item-title">Melee Charge</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/mystic_shot.png)">
                </div>
                <span class="item-title">Mystic Shot</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/opening_rounds.png)">
                </div>
                <span class="item-title">Opening Rounds</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/slowing_bullets.png)">
                </div>
                <span class="item-title">Slowing Bullets</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/spirit_shredder_bullets.png)">
                </div>
                <span class="item-title">Spirit Shredder Bullets</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/split_shot.png)">
                </div>
                <span class="item-title">Split Shot</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/swift_striker.png)">
                </div>
                <span class="item-title">Swift Striker</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/titanic_magazine.png)">
                </div>
                <span class="item-title">Titanic Magazine</span>
            </div>
        </div>

        <div class="item-container">
            <div class="item-background item-background-2"></div>
            <div class="paper-texture texture-2"></div>
            <div class="paper-wear wear-2"></div>
            <div class="item-image-container">
                <div class="item-image"
                    style=" background-image: url(https://assets-bucket.deadlock-api.com/assets-api-res/images/items/weapon/weakening_headshot.png)">
                </div>
                <span class="item-title">Weakening Headshot</span>
            </div>
        </div>
    </div>

    <div class="item-tier-3">

    </div>


    <div class="item-tier-4">

    </div>

</div>