.shop-gun {
    background-image: url(/assets/shop/gun/shop_bg_weapon.png);
    aspect-ratio: 1825 / 1618;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    overflow: hidden;
    width: 94%;
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    display: flex;

        padding: 1.5rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 2%;
}

.item-tier-1 {
    border: red solid 1px;
    width: 41%;
    height: 30%;
    margin-top: 11%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    gap: 1%;
    padding-left: 2%;
    padding-right: 2%;
}


.item-tier-2 {
    border: green solid 1px;
    width: 52%;
    height: 48%;    
}

.item-tier-3 {
border: white solid 2px;
    width: 53%;
    height: 51%;
}


.item-tier-4 {
    border: blue solid 1px;
    width: 44%;
    height: 51%;
}

.item-container-1{
    width: 18%;
    height: 42%;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
}

.item-background-1{
    background-image: url(/assets/shop/gun/card_weapon_1.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}

.paper-texture{
    background-image: url(/assets/shop/gun/shopitem_papertexture01.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 17%;
    z-index: 1;
    border: green solid 1px;
}
.paper-wear{
background-image: url(/assets/shop/gun/shopitem_paperwear01.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 30%;
    z-index: 1;
}