.shop-vitality {

    aspect-ratio: 1825 / 1618;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
    overflow: hidden;
    width: 94%;
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    display: flex;

    padding: 1.5rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 2%;
}

.tech {
    background-image: url('/assets/shop/tech/shop_bg_tech.png');

}

.item-tier-1 {
    width: 46%;
    height: 49%;
    padding-top: 17%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
    grid-template-columns: repeat(5, 1fr);
}


.item-tier-2 {
    width: 53%;
    height: 50%;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 6%;
    padding-left: 3%;
    padding-bottom: 15%;
    padding-right: 4%;
}

.item-tier-3 {
    width: 46%;
    height: 50%;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 7%;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 4%;
}


.item-tier-4 {
    width: 53%;
    height: 50%;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 6%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-right: 2%;
}


.item-background-1 {
    background-image: url(/assets/shop/tech/card_spirit_1.png);
}

.item-background-2 {
    background-image: url(/assets/shop/tech/card_spirit_2.png);
}

.item-background-3 {
    background-image: url(/assets/shop/tech/card_spirit_3.png);
}

.item-background-4 {
    background-image: url(/assets/shop/tech/card_spirit_4.png);
}