<div class="hability-container">
    @for (hability of heroeAbilities; track $index) {
    <div class="hability"  (mouseenter)="showHabilityInfo(hability)" (mouseleave)="hideHabilityInfo()" [style.background-image]="'url(' + hability.image_webp + ')'">
    </div>
}
</div>

@if(selectedHability) {
    <div class="hability-info-container" style="border: green solid 1px;">
        <p>
            {{ selectedHability.name }}
        </p>

        <p [innerHTML]="selectedHability.description.desc"></p>
        <!-- @for (hability of heroeAbilities; track $index) {
            <div class="hability-info">
                <h3>{{ hability.name }}</h3>
            </div>
        } -->
    </div>
}

