<div class="shop-space-container">

    <div class="shop-tabs">
        @for(type of itemSlotTypeArray; track type.key){
            @let lowerType = type.value.toLowerCase();

            @if(activeTab === 'shop' + type.value){
                <img class="shop-tab animate fade-in" (click)="setActiveTab('shop' + type.value)" [src]="'/assets/shop/' + lowerType + '/shop_tab_' + lowerType + '_open.png'" alt="">
            }@else{
                <img class="shop-tab" (click)="setActiveTab('shop' + type.value)" [src]="'/assets/shop/' + lowerType + '/shop_tab_' + lowerType + '.png'" alt="">    

            }
        }
    </div>

    <div class="items-container" [ngSwitch]="activeTab">
        <div class="shop-explorer" *ngSwitchCase="'shopExplorer'"></div>
        <app-shop-category class="shop-container" *ngSwitchCase="'shopWeapon'" [allItems]="allItems" [type]="'weapon'"></app-shop-category>
        <app-shop-category class="shop-container" *ngSwitchCase="'shopVitality'" [allItems]="allItems" [type]="'vitality'"></app-shop-category>
        <app-shop-category class="shop-container" *ngSwitchCase="'shopSpirit'" [allItems]="allItems" [type]="'spirit'"></app-shop-category>
    </div>

</div>