<div class="shop-container">
    <div class="shop-tabs">
        <img class="shop-tab" (click)="alerta()" src="/assets/shop/shop_tab_builds_open.png" alt="">
        <img class="shop-tab" src="/assets/shop/shop_tab_weapon.png" alt="">
        <img class="shop-tab" src="/assets/shop/shop_tab_vitality.png" alt="">
        <img class="shop-tab" src="/assets/shop/shop_tab_tech.png" alt="">


    </div>
    <div class="shop-explorer">
        <!-- Contenido del componente de exploración de la tienda -->
        <!-- <p>shop.explorer.component works!</p> -->
    </div>
</div>