name: Deploy Angular to GitHub Pages

on:
  push:
    branches:
      - main  # O el nombre de tu rama principal

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20 # Angular 21 requiere Node 18.x o superior
          cache: 'npm'

      - name: Instalar dependencias
        run: npm ci

      - name: Build de producción
       
        run: npx ng build --configuration production --base-href /build-deadlock/

      - name: Desplegar
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/build-deadlock/browser # En Angular moderno, el build suele estar en /browser
          branch: gh-pages # GitHub Actions creará esta rama por ti
