name: Angular-CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup nodejs
        uses: actions/setup-node@v3.7.0
        with:
          node-version: "20"
      
      - name: Install deps
        run: npm i
      
      - name: Build app bundle
        run:  npm run build:prod
      
      - name: Rename index for routing
        run: cp dist/build-deadlock/browser/index.html dist/build-deadlock/browser/404.html
      
      - name: Deploy to Pages
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          build_dir: dist/build-deadlock/browser
